<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.mapper.SkuAttrValueMapper">

    <select id="queryMappingBySkuIds" resultType="Map">
        select sku_id,group_concat(attr_value order by attr_id asc) as attr_values
        from pms_sku_attr_value
        <trim prefix="where" prefixOverrides="and" suffix="group by sku_id" suffixOverrides=",">
            and sku_id in
            <foreach collection="skuIds" item="skuId" separator="," open="(" close=")">#{skuId}</foreach>
        </trim>
    </select>
</mapper>
